
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Mein Tagebuch</title>
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3pV8TcC2zO+K7+PvLbSdXlC2Vf5HARjvZ9n6C4Hb5LTh5OekyJHv6tb6jZ" crossorigin="anonymous">
    </head>    
</head>
<body>
    <h1>Schreibe einen Tagebucheintrag</h1>
    <form action="/submit_entry" method="post">
        <textarea name="entry_content"></textarea>
        <input type="submit" value="Eintrag speichern">
    </form>
</body>
</html>
